@font-face
{
	    font-family: 'Raleway';
	src: url('../Raleway/static/Raleway-Regular.ttf');
	src: url('../Raleway/static/Raleway-Regular.eot') format('eot'),
	url('../Raleway/static/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
	url('../Raleway/static/Raleway-Regular.woff2') format('woff2'),
	url('../Raleway/static/Raleway-Regular.woff') format('woff'),
	url('../Raleway/static/Raleway-Regular.svg#Raleway-Regular') format('svg');
}

@font-face
{
	    font-family: 'Raleway_gras';
	src: url('../Raleway/static/Raleway-Bold.ttf');
	src: url('../Raleway/static/Raleway-Bold.eot') format('eot'),
	url('../Raleway/static/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
	url('../Raleway/static/Raleway-Bold.woff2') format('woff2'),
	url('../Raleway/static/Raleway-Bold.woff') format('woff'),
	url('../Raleway/static/Raleway-Bold.svg#Raleway-Bold') format('svg');
	
}


body
{
	font-family: Raleway, sans-serif;
}
h1, h2, h4, strong
{
	font-family: Raleway_gras, sans-serif;
}

h1
{
	font-size: 24px;
}

h2
{
	font-size:20px;
}

h4
{
margin: 0;
padding: 0;
}

.carte
{
	text-decoration: none;
	color: black;
}

/* #region en tete */


header
{ 
	display: grid;
	grid-template-columns: 1fr 50% 0.3fr 0.2fr 0.3fr;
	grid-gap: 5px;
}

#logo
{
	width: 12em;
	height: 6em;
}

#lien_1, #lien_2, #lien_3
{
	font-family: Raleway_gras, sans-serif;
	font-size: 1.3em;
	margin-top: 2em;
}

#lien_1
{
	grid-column-start: 3;
}

#lien_2
{
	grid-column-start: 4;
}

#lien_3
{
	grid-column-start: 5;
}


.lien_principaux
{
	color: black;	
	text-decoration: none;
}

.lien_inscription
{
	color: #0065FC;
	text-decoration: none;
}

.lien_principaux:hover, .lien_inscription:hover
{
	color: #0065FC;
	text-decoration: underline;
}

#barre_de_recherche, #info
{
	display: flex;
}

.icones_recherche
{
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: #F2F2F2;
	width: 2.2em;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#zone_recherche
{
	border:1px solid  #F2F2F2;
}

#zone_recherche::placeholder
{
	color: black;
	font-family: Raleway_gras, sans-serif;
}

label
{
	color: white;
	background-color: #0065FC;
	height: 2em;
	width: 8em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#menu_de_recherche
{
	display: flex;
	justify-content: flex-start;
	flex: wrap;
}

.filtre1, .filtre2, .filtre3, .filtre4
{
	margin-left: 2em;
	display: flex;
	justify-content: flex-start;
	margin-top: 1em;
	border:3px solid #F2F2F2;
	border-radius: 20px;
	height: 1.45em;
	padding-top: 0.2em;
	padding-right: 1em;
}

.icones_filtre, .icones_info
{
	color: #0065FC;
	margin-right: 1em;
	
}

.icones_filtre
{
	width: 30px;
	height: 30px;
	border-radius: 360px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DEEBFF;
	margin-top: -0.3em;
	margin-left: -0.2em;
}

.icones_info
{
	width: 20px;
	height: 20px;
	border:3px solid #F2F2F2;
	border-radius: 360px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -0.2em;
	font-size: 0.75em;
}
/* #endregion */

/* #region lien de navigation */
nav
{
    width: auto;
    text-align: left;
}
 
nav ul
{
	display: flex;
	list-style-type: none;
}
nav li
{
    margin-right: 15px;
}

/*#endregion*/

/* #region section */
section
{
	display: grid;
	grid-template:1fr/ 3fr 1fr;
	justify-content: flex-start;
	grid-gap: 15px;
}

h4
{
	font-weight: bold;
}

/* #region article */
article
{
	background-color: #F2F2F2;
	border-radius: 20px;
}

#article
{
	display: grid;
	grid-template: 1fr 1fr / 1fr 1fr 1fr;
}

#titre_div_hebergement
{
	margin-left: 2.5em;
}

#Afficher_plus
{
	margin-left: 2.5em;
}

.element_article
{
	background-color: white;
	border-radius: 20px;
	display: grid;
	grid-template: 5px 6fr 3fr/5px 1fr 5px;
	text-decoration: none;
	margin: 1.5rem;
	color: black;

}

.titre_prix_note_hebergement
{
	padding-left: 1em;
	padding-top: 1em;
	grid-row: 3/4;
	grid-column: 2/3;
}

.prix_hebergement
{
	margin-top: auto;
}

.note_hebergement
{
	margin-top: -30px;
}

/*-----------------------photo hebergement------------------*/

#photo_hebergement_1
{
	background-image: url("../images/hebergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

#photo_hebergement_2
{
	background-image:url("../images/hebergements/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

#photo_hebergement_3
{
	background-image:url("../images/hebergements/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

#photo_hebergement_4
{
	background-image:url("../images/hebergements/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

#photo_hebergement_5
{
	background-image:url("../images/hebergements/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

#photo_hebergement_6
{
	background-image:url("../images/hebergements/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

#photo_hebergement_1 ,#photo_hebergement_2 ,#photo_hebergement_3 ,#photo_hebergement_4 ,#photo_hebergement_5 ,#photo_hebergement_6
{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center;
	background-clip: content-box;
	background-size: cover;
	grid-row: 2/3;
	grid-column: 2/3;
}
/* #endregion */

/* #region notation */
form
{
  display: flex;
}

.etoile
{
  display: none;
}

.etoile_b, .etoile_g
{
	font-size: 20px;
}

.etoile_b
{
	color: #0065FC;
}

.etoile_g
{
	color: #F2F2F2;
}

form p
{
  font-size: 3em;
  cursor: pointer;
}
/* #endregion */

/* #region aside */
aside
{
	background-color: #F2F2F2;
	border-radius: 15px;
}

#aside
{
	display: grid;
	grid-template: 1fr 1fr 1fr /1fr;
}

#titre_div_aside
{
	margin-left: 2em;
}


#titre_et_icone_aside
{
	display: grid;
	grid-template: 1fr/ 80% 20%;
}

#icone_aside
{
	font-size: 1.5em;
	padding-top: 0.5em;
}

.element_aside
{
	display: grid;
	grid-template:  5px 1fr 5px/5px 1fr 1fr 5px;
	background-color: white;
	border-radius: 20px;
	margin: 1.5rem;
	text-decoration: none;
	color: black;
}

.titre_prix_note_aside
{
	padding-left: 20px;
	padding-top: 15px;
	grid-row-start: 2;
	grid-column-start: 3;
}

/*---------------------photo aside------------------------*/

#photo_aside_1
{
	background-image:url('../images/hebergements/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
}

#photo_aside_2
{
	background-image:url('../images/hebergements/aw-creative-VGs8z60yT2c-unsplash.jpg');
}

#photo_aside_3
{
	background-image:url('../images/hebergements/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
}

#photo_aside_1 ,#photo_aside_2 ,#photo_aside_3
{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
	background-clip: content-box;
	grid-row-start: 2;
	grid-column-start: 2;

}
/* #endregion */

/* #endregion */

/* #region activités */

#activites_a_marseille
{
	display: grid;
	grid-template: 1fr/ 1fr 1fr 1fr 1fr; 
}

.activites_g, .activites_p
{
	border-radius: 20px;
	box-shadow: 6px 6px 10px #F2F2F2;
	margin: 1.5rem;
	text-decoration: none;
	color: black;
}

.pack_activites_1
{
	display: grid;
	grid-template: 6fr 4fr/1fr;
}

.pack_activites_2
{
	display: grid;
	grid-template: 1fr 1fr/1fr;
}

.titre_activites
{
	padding-top: 0.5em;
	padding-left: 1em;
}

 .activites_p
{
	display: grid;
	grid-template: 6fr 1fr/1fr;
}

.activites_g 
{
	display: grid;
	grid-template: 6.5fr 0.5fr/1fr;
}
/*--------------------photo activites-----------*/

#photo_activites_1
{
	background-image: url("../images/activites/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

#photo_activites_2
{
	background-image: url("../images/activites/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

#photo_activites_3
{
	background-image: url("../images/activites/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}

#photo_activites_4
{
	background-image: url("../images/activites/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

#photo_activites_5
{
	background-image: url("../images/activites/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

#photo_activites_6
{
	background-image: url("../images/activites/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

#photo_activites_1, #photo_activites_2, #photo_activites_3, #photo_activites_4, #photo_activites_5, #photo_activites_6
{
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-clip: content-box;
}
/* #endregion */

/* #region pied de page */

footer
{
	background-color: #F2F2F2;
	display: grid;
	grid-template: 1fr/1fr 1fr 1fr;
}

.pied_de_page
{
	padding-left: 4em;
}

.lien_pied_de_page
{
	list-style-type: none;
	line-height: 1.5em;
	padding-left: 0;
}

.lien_pied_de_page a
{
	text-decoration: none;
	color: black;
}
/*#endregion**/


/* #region Media Queries */

/* #region tablette */
@media screen and (max-width: 1024px) 
{
	header
	{
		display: grid;
		grid-template-columns: 1fr 0.3fr 0.1fr 0.3fr;
		grid-gap: 10px;
	}

	#menu_de_recherche
	{
		margin-bottom: 1em;
		margin-top: 1em;
	}

	.filtre1, .filtre2, .filtre3, .filtre4
	{
		margin-left: 1.5em;
		display: flex;
		justify-content: flex-start;
		margin-top: 0;
		border:3px solid #F2F2F2;
		border-radius: 20px;
		height: auto;
		padding-right: 1em;
	}

	.tf
	{
		padding-top: 0.7em;
	}

	.tf2
	{
		padding-top: 0.4em;
	}

	.icones_filtre
	{
	height: auto;
	}
	
	section
	{
		display: grid;
		grid-template:1fr 0.7fr/1fr ;
	}

	#activites_a_marseille
	{
		display: grid;
		grid-template: 1fr 1fr /1fr 1fr;
	}

}
/*#endregion*/

/* #region mobile */
@media (min-width: 320px) and (max-width: 480px)
{

	main
	{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	
/*------------en tete--------*/

	header
	{
		display: grid;
		grid-template: 1fr 1fr/1fr 1fr;
	}

	#logo
	{
		font-size: 0.8em;
	}

	#lien_1
	{
		grid-column-start: 1;
		grid-row-start: 2;
		padding-left: 1.5em;
	}

	#lien_2
	{
		grid-column-start: 2;
		grid-row-start: 2;
		padding-left: 1.5em;
	}

	#lien_3
	{
		grid-column-start: 2;
		grid-row-start: 1;
		padding-left: 3em;
	}

	.lien_principaux
	{
		display: block;
		border-bottom: 3px solid #F2F2F2;
		text-align: center;	
	}

	.lien_principaux:hover
	{
		text-decoration: none;
		border-color: #0065FC;
	}

	#pack_lien_pricipaux
	{
		display: flex;

	}

	.lien_taille
	{
		width: 215px;
	}

	#menu_onglet
	{
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;
	}

	#menu_de_recherche
	{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.filtre1, .filtre2, .filtre3, .filtre4
	{
	margin-left: 2em;
	display: flex;
	justify-content: flex-start;
	margin-top: 1em;
	border:3px solid #F2F2F2;
	border-radius: 20px;
	height: 1.45em;
	padding-top: 0.2em;
	padding-right: 1em;
	}

	.tf, .tf2
	{
		padding-top: 0;
	}

	.filtre1
	{
		width: 130px;
	}

	.filtre2
	{
		width: 100px;
	}

	.filtre3
	{
		width: 130px
	}

	.filtre4
	{
		width: 190px;
	}

	#info
	{
		margin-top: 20px;
	}

	/*----------------------------------- section ----------------------------------*/

	section
	{
		display: flex;
		flex-direction: column-reverse;
	}

	article
	{
		background-color: white;
	}

	#article
	{
		display: flex;
		flex-direction: column;
	}

	.element_article
	{
		box-shadow: 10px 10px 10px #F2F2F2, -10px -10px 10px #F2F2F2;

	}
	/*-------activite------*/

	#activites_a_marseille
	{
		display: grid;
		grid-template: 1fr 2fr 1fr 2fr /1fr
	}

	#pack_activites_1
	{
		display: grid;
		grid-template: 50% 50% /1fr;
	}

	/*----pied de page-----*/

	footer
	{
		display: flex;
		flex-direction: column;
	}

	#pied_de_page
	{
		margin-left: 0;
	}

}
/*#endregion*/

/*#endregion*/
