@font-face
{
	    font-family: 'Raleway';
    src: url('Raleway/static/Raleway-Regular.ttf');
}

@font-face
{
	    font-family: 'Raleway_gras';
    src: url('Raleway/static/Raleway-Bold.ttf');
}


body
{
	font-family: Raleway, sans-serif;
}
h1, h2, figcaption, strong
{
	font-family: Raleway_gras, sans-serif;
}

h1
{
	font-size: 24px;
}

h2
{
	font-size:20px;
}

/* --------------------------------------------------------------------------------------en tete------------------------------------------------------------------------------------------------*/


header
{ 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#logo
{
	width: 12em;
	height: 6em;
}

#pack_lien_pricipaux
{
	display: flex;
	flex-direction: row;
}

.lien_principaux
{
	color: black;
}

.lien_inscription
{
	color: #0065FC;
}

.lien_principaux:hover, .lien_inscription:hover
{
	color: #0065FC;
	text-decoration: underline;
}

#barre_de_recherche, #info
{
	display: flex;
}

.icones_recherche
{
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	background-color: #F2F2F2;
	width: 2.2em;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#zone_recherche
{
	border:1px solid  #F2F2F2;
}

#zone_recherche::placeholder
{
	color: black;
	font-family: Raleway_gras, sans-serif;
}

label
{
	color: white;
	background-color: #0065FC;
	height: 2em;
	width: 8em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#menu_de_recherche
{
	display: flex;
	justify-content: flex-start;
}

#pack_filtre
{
	display: flex;
	justify-content: flex-start;
}

.filtre1, .filtre2, .filtre3, .filtre4
{
	margin-left: 50px;
	display: flex;
	justify-content: flex-start;
	margin-top: 1.2em;
	border:3px solid #F2F2F2;
	border-radius: 20px;
	height: 1.45em;
	padding-top: 0.2em;
	padding-right: 1em;
}

.icones_filtre, .icones_info
{
	color: #0065FC;
	margin-right: 1em;
	
}

.icones_filtre
{
	width: 30px;
	height: 30px;
	border-radius: 360px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #DEEBFF;
	margin-top: -0.3em;
	margin-left: -0.2em;
}

.icones_info
{
	width: 20px;
	height: 20px;
	border:3px solid #F2F2F2;
	border-radius: 360px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -0.2em;
	font-size: 0.75em;
}

/* ------------------------------------------------------------------------------------lien de navigation------------------------------------------------------------------------------------ */
nav
{
    width: auto;
    text-align: left;
}
 
nav ul
{
	display: flex;
	list-style-type: none;
}
nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    padding-bottom: 3px;
    text-decoration: none;
}

/*-------------------------------------------------------------------------------------section------------------------------------------------------------------------------------------*/
section
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

figcaption
{
	font-weight: bold;
}

/*-----------------------------------------------------------------------------------------article--------------------------------------------------------------------------------------------*/
article
{
	background-color: #F2F2F2;
	border-radius: 20px;
	flex: 3;
}

#article
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: 50px;
}

#titre_div_hebergement
{
	margin-left: 95px;
}

#Afficher_plus
{
	margin-left: 35px;
}

.element_article
{
	background-color: white;
	border-radius: 20px;
	width: 350px;
	height: 250px;
}

.titre_prix_note_hebergement
{
	background-color: white;
	position:relative;
	top: 9.7em;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding-left: 1em;
}

.prix_hebergement
{
	margin-top: auto;
}

.note_hebergement
{
	margin-top: -30px;
}

/*-----------------------photo hebergement------------------*/

#photo_hebergement_1
{
	background-image: url("images/hebergements/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

#photo_hebergement_2
{
	background-image:url("images/hebergements/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

#photo_hebergement_3
{
	background-image:url("images/hebergements/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

#photo_hebergement_4
{
	background-image:url("images/hebergements/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

#photo_hebergement_5
{
	background-image:url("images/hebergements/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

#photo_hebergement_6
{
	background-image:url("images/hebergements/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

#photo_hebergement_1 ,#photo_hebergement_2 ,#photo_hebergement_3 ,#photo_hebergement_4 ,#photo_hebergement_5 ,#photo_hebergement_6
{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	width: 340px;
	height: 165px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center;
	background-clip: content-box;
	position: relative;
	top:5px;
	left: 5px;
	background-size: cover;
}

/* ------------------------------------------------------------------------------------notation--------------------------------------------------------------------------------------*/
form
{
  display: flex;
}

.etoile
{
  display: none;
}

.etoile_b, .etoile_g
{
	font-size: 20px;
}

.etoile_b
{
	color: #0065FC;
}

.etoile_g
{
	color: #F2F2F2;
}

form p
{
  font-size: 3em;
  cursor: pointer;
}

/*------------------------------------------------------------------------------------aside-----------------------------------------------------------------------------------------------------*/
aside
{
	background-color: #F2F2F2;
	border-radius: 15px;
	margin-left: 30px;
	/*width: 500px;*/
	flex: 1;
}

#aside
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#titre_div_aside
{
	margin-left: 45px;
}


#titre_et_icone_aside
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

#icone_aside
{
	position: relative;
	top: 25px;
	left: 140px;
	font-size: 1.5em;
}

.element_aside
{
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	border-radius: 20px;
	height: 170px;
}

.titre_prix_note_aside
{
	background-color: white;
	width: 170px;
	height: 145px;
	padding-left: 20px;
	padding-top: 15px;
	position: relative;
	left: 160px;
}

/*---------------------photo aside------------------------*/

#photo_aside_1
{
	background-image:url('images/hebergements/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg');
}

#photo_aside_2
{
	background-image:url('images/hebergements/aw-creative-VGs8z60yT2c-unsplash.jpg');
}

#photo_aside_3
{
	background-image:url('images/hebergements/febrian-zakaria-sjvU0THccQA-unsplash.jpg');
}

#photo_aside_1 ,#photo_aside_2 ,#photo_aside_3
{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	width: 170px;
	height: 160px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: left;
	background-size: cover;
	background-clip: content-box;
	position: relative;
	top: 5px;
	left: 5px;

}

/*------------------------------------------------------------------------------------activités-----------------------------------------------------------------------------------*/

#activites_a_marseille
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	margin-left: -40px;
	height: 600px;

}

.activites_g, .activites_p, .activites_p1, .activites_p2
{
	border-radius: 20px;
	box-shadow: 6px 6px 10px #F2F2F2;
	margin-right: -10px;
}

.activites_g
{
	height: 95%;
	width: 450px;
}

.activites_p
{
	height: 45%;
	width: 450px;
}

.pack_activites
{
	display: flex;
	flex-direction: column;
}

.activites_p1
{
	height: 55%;
	width: 450px;
}

.activites_p2
{
	height: 35%;
	width: 450px;
}

.titre_activites_g, .titre_activites_p
{
	padding-top: 10px;
}

/*--------------------photo activites-----------*/

#photo_activites_1
{
	background-image: url("images/activites/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

#photo_activites_2
{
	background-image: url("images/activites/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

#photo_activites_3
{
	background-image: url("images/activites/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}

#photo_activites_4
{
	background-image: url("images/activites/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

#photo_activites_5
{
	background-image: url("images/activites/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

#photo_activites_6
{
	background-image: url("images/activites/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

#photo_activites_1, #photo_activites_4
{
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 100%;
	height: 90%;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-clip: content-box;
}

#photo_activites_5, #photo_activites_6
{
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 100%;
	height: 80%;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-clip: content-box;
}

#photo_activites_2
{
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 100%;
	height: 82%;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-clip: content-box;
}

#photo_activites_3
{
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 100%;
	height: 73%;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-clip: content-box;
}

/*---------------------------------------------------------------------------------pied de page------------------------------------------------------------------------------------------*/

footer
{
	background-color: #F2F2F2;
	display:flex;
	justify-content: space-around;
}

.pied_de_page
{
	margin-left: -350px;
}

.lien_pied_de_page
{
	list-style-type: none;
	margin-left: -35px;
	line-height: 30px;
}

.lien_pied_de_page a
{
	text-decoration: none;
	color: black;
}

/*------------------------------------------------------------------------------Media Queries--------------------------------------------------------------------------------------------------*/

@media (min-width: 320px) and (max-width: 480px)
{

	main
	{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	
/*------------en tete--------*/

	header
	{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	#div_logo
	{
		position: relative;
		right: 220px;
	}

	#logo
	{
		font-size: 0.8em;
	}

	.lien_inscription
	{
		position: relative;
		bottom: 60px;
		left: 80px;
	}
	.lien_principaux
	{
		display: block;
		width: 110%;
		border-bottom: 3px solid #F2F2F2;
		text-align: center;	
	}

	.lien_principaux:hover
	{
		text-decoration: none;
		border-color: #0065FC;
	}

	#pack_lien_pricipaux
	{
		display: flex;
		justify-content: space-between;
		width: 430px;
		margin-right: -180px;
		position: relative;
		left: 20px;

	}

	.lien_taille
	{
		width: 215px;
	}

	#menu_onglet
	{
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;
		width: 430px;
	}

	#menu_de_recherche
	{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	.filtre1
	{
		width: 130px;
	}

	.filtre2
	{
		width: 100px;
	}

	.filtre3
	{
		width: 130px
	}

	.filtre4
	{
		width: 190px;
	}

	#pack_filtre
	{
	display: flex;
	justify-content: flex-start;
	margin-top: -20px;
	}

	#info
	{
		margin-top: 20px;
	}

	/*-----section------*/

	section
	{
		width: auto;
		display: flex;
		flex-direction: column-reverse;
		flex-wrap: wrap;
	}

	article
	{
		background-color: white;
		margin-left: -20px;
	}

	.element_article
	{
		box-shadow: 10px 10px 10px #F2F2F2, -10px -10px 10px #F2F2F2;

	}

	.element_aside
	{
		width: 370px;
	}

	/*-------activite------*/

	#activites_a_marseille
	{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		height: 1600px;
	}

	#grand_titre_activite
	{
		margin-left: 80px;
	}

	.activites_g
	{
		width: 345px;
		height: 15%;
		margin-bottom: 40px;
		box-shadow: 10px 10px 10px #F2F2F2, -10px -10px 10px #F2F2F2;
	}

	.activites_p, .activites_p1, .activites_p2
	{
		width: 345px;
		height: 200%;
		/*margin-bottom: 40px;*/
		box-shadow: 10px 10px 10px #F2F2F2, -10px -10px 10px #F2F2F2;
	}

	#photo_activites_1, #photo_activites_2, #photo_activites_3, #photo_activites_4, #photo_activites_5, #photo_activites_6
	{
		width: 345px;
		height: 80%;
	}

	.pack_activites
	{
		height: 30%;
	}

	/*----pied de page-----*/

	footer
	{
		display: flex;
		flex-direction: column;
		position: relative;
		left: 70px;
	}

	.pied_de_page
	{
		margin-left: 50px;
	}

}



@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) 
{
	#main
	{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	#menu_onglet
	{
		position: relative;
		left: 100px;
	}

}
