@font-face
{
	    font-family: 'Raleway';
    src: url('Raleway/static/Raleway-Regular.ttf');
}

@font-face
{
	    font-family: 'Raleway_gras';
    src: url('Raleway/static/Raleway-Bold.ttf');
}


body
{
	font-family: Raleway, sans-serif;
}
h1, h2, figcaption, strong
{
	font-family: Raleway_gras, sans-serif;
}

.etoile_b
{
	color: #0065FC;
}

.etoile_g
{
	color: #F2F2F2;
}

/* ----------------------------------------------------------------en tete-----------------------------------------------------------------------------------*/
header
{ 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#menu_de_recherche
{
	display: flex;
	justify-content: flex-start;
}

#barre_de_recherche, #info
{
	display: flex;
}

.filtre
{
	margin-left: 50px;
	display: flex;
	justify-content: flex-start;
}

.icones
{
	color: #0065FC;
}

/* ----------------------------------------------------------lien de navigation---------------------------------------------------------------------------- */
nav
{
    width: auto;
    text-align: left;
}
 
nav ul
{
	display: flex;
	list-style-type: none;
}
nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    padding-bottom: 3px;
    text-decoration: none;
}

/*------------------------------------------------------------------section-------------------------------------------------------------------------------*/
section
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

figcaption
{
	font-weight: bold;
}

/*------------------------------------------------------------------article--------------------------------------------------------------------------------*/
article
{
	background-color: #F2F2F2;
	border-radius: 20px;
	/*width: 1400px;*/
	flex: 3;
}

#article
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: 50px;
}

.element_article
{
	background-color: white;
	border-radius: 20px;
	width: 350px;
	height: 250px;
}

.photo_hebergement
{
	border-radius: 20px;
	width: 340px;
	height: 235px;
	position: relative;
	top: 5px;
	left: 5px;
	z-index: 1;
	clip: rect(30px, 0px, 0px, 0px);
}

.titre_prix_note_hebergement
{
	background-color: white;
	width: 342px;
	height: 90px;
	position: relative;
	top: -88px;
	left: 4px;
	z-index: 2;
}

.prix_hebergement
{
	margin-top: auto;
}

.note_hebergement
{
	margin-top: -30px;
}

/* ---------------------------------------------------------------notation-------------------------------------------------------------------------*/
form
{
  display: flex;
}

.etoile
{
  display: none;
}

.etoile_b, .etoile_g
{
	font-size: 20px;
}

form p
{
  font-size: 3em;
  cursor: pointer;
}

/*-----------------------------------------------------------------aside--------------------------------------------------------------------------*/
aside
{
	background-color: #F2F2F2;
	border-radius: 15px;
	margin-left: 30px;
	/*width: 500px;*/
	flex: 1;
}

#aside
{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.element_aside
{
	display: flex;
	flex-wrap: wrap;
	background-color: white;
	border-radius: 20px;
	height: 150px;
}

.photo_aside
{
	width: 190px;
	height: 140px;
	border-radius: 20px;
	position: relative;
	top: 5px;
	left: 5px;
	z-index: 1;
}

.titre_prix_note_aside
{
	background-color: white;
	width: 160px;
	height: 145px;
	z-index: 2;
	position: relative;
	left: -10px;
	padding-left: 5px;
}
/*--------------------------------------------------------------activités---------------------------------------------------------------------------*/

#activites_a_marseille
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	margin-left: -40px;

}

.activites
{
	border-radius: 20px;
	box-shadow: 3px 3px 10px #F2F2F2;
	margin-right: -10px;
}

.photo_activites_g
{
	width: 520px;
	height: 490px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.photo_activites_p
{
	width: 370px;
	height: 240px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.photo_activites_p_1
{
	width: 370px;
	height: 290px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.photo_activites_p_2
{
	width: 370px;
	height: 190px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.pack_activites
{
	display: flex;
	flex-direction: column;
}

.titre_activites_p
{
	position: relative;
	top: -20px;
	background-color: white;
	height: 10px;
	padding-top: 10px
}

/*------------------------------------------------------------pied de page------------------------------------------------------------------------*/

footer
{
	background-color: #F2F2F2;
	display:flex;
	justify-content: space-around;
}

.pied_de_page
{
	margin-left: -350px;
}

.lien_pied_de_page
{
	list-style-type: none;
	margin-left: -35px;
	line-height: 30px;
}

.lien_pied_de_page a
{
	text-decoration: none;
	color: black;
}
